.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.joke-box{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  min-width: 300px;
  text-align: center;
  font-size: 20px;

}

.joke-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50; /* green */
  color: white;
  transition: background-color 0.2s ease;
}

.joke-button:hover {
  background-color: #45a049; /* darker green on hover */
}